<!DOCTYPE html>
<html>
<head>
<title>Crowdsourcing Twitter NER</title>
  <meta charset="utf-8">
  <link  href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  <link  href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='constant.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  
  <script type="text/javascript">
  	var tweets = {{ tweets | tojson }};
    var links = {{ links | tojson }};

    //DOM initialization
  	$(document).ready(function(){

      //styling dropdown list -- coloring different types;
      (function(){
        var select = document.getElementById('selectType');
        for(var i = 0; i < select.options.length; i++) {
            var c = get_entity_color(select.options[i].value);
            select.options[i].style.color = c;
        }
      })();

      //render the current list of entities/links;
      updateVis();

  	});

    function updateVis(){

      //polulate tweets with color on entities
      var tweets_tagged = tweets.map(function(tweet){
        return styling_tweet_entity(tweet);
      });

      $("#content").html("");
      tweets_tagged.forEach(function(tweet){
        $("#content").append("<p>"+tweet['user']+": "+tweet['text_tagged']+"</p>");
      });

      //populate entities in the right-top view;
      var html = "<ul>";

      tweets.forEach(function(tweet){
        var entities = tweet['entity'];
        entities.forEach(function(entity){
          if(entity.hasOwnProperty('term'))
            html += "<li>" + entity.term + " -> " + "<font color='" + get_entity_color(entity.type) + "'><b>" + entity.type + "</b></font>";
            // if(entity.hasOwnProperty('comment') && entity.comment.length > 0 )
            //   html += "<br><font color='#888'>Comment: " + entity.comment + "</font>"  
            html += "</li>";
        });
      });

      html += "</ul>";
      $("#recRes").html(html);

      //populate links in the right-botton view;
      var html = "<ul>";

      //existing links provided by the back-end
      links.forEach(function(link){
        html += "<li>" + link.npo + " <-> " + link.ety;
        if(link.hasOwnProperty('comment') && link.comment.length > 0)
          html += "<br><font color='#888'>Comment: " + link.comment + "</font>"  
        html += "</li>";
      });

      tweets.forEach(function(tweet){
        var entities = tweet['entity'];
        entities.forEach(function(entity){
          if(entity.hasOwnProperty('npo')){
              html += "<li>" + entity.npo + " <-> " + entity.ety;
              if(entity.hasOwnProperty('comment') && entity.comment.length > 0)
                html += "<br><font color='#888'>Comment: " + entity.comment + "</font>"  
              html += "</li>";
          }
        });
      });


      html += "</ul>";
      $("#linkRes").html(html);

    }

    //add new entities based on user input
    function addNewEntity(){

      var npo = $.trim($("input[name=Entity1]").val());
      var ety = $.trim($("input[name=Entity2]").val());
      var type = $.trim($('#selectType').find(":selected").val());
      var comment = $.trim($('textarea#recComment').val());

      //format check
      if(!npo || !ety || type == 'Choose type'){
        alert("format invalid!");
        return;
      }

      //keyword existence check
      if(!check_term_exist_in_tweets(tweets, npo) || !check_term_exist_in_tweets(tweets, ety) ){
        alert("entity not exist!");
        return;
      }

      //add the entity in the tweets;
      add_entity_in_tweets(tweets, npo, ety, type, comment);
      updateVis();
    }

    //write content in the hidden container for back-front data transfer
    function populateRst(){
      $("#tweetsResult").val(JSON.stringify({tweets}));
    }

  </script>
</head>

<body>

<div>
	<h1 align="center">Crowdsourcing Twitter NER</h1>
</div>

<div class="tweet_view">
	
  <!-- tweet display-->
  <div class="op_panel" style="display: block;">
    <h3>Tweet View</h3>
    <div id="content" class="tweet_content"></div>
  </div>
  <!-- operation panel display-->
  <div id="recView" class="op_panel" style="display: block;">

    <div style="float: left; margin-left: 10px;">
      <br><h3>Add new entity and linkage</h3>
      <div class="addNew">
        <p>NPO: <input type="text" name="Entity1"> &nbsp;&nbsp; Entity: <input type="text" name="Entity2"><br><br></p>
        <p>Type: <select id="selectType">
                  <option selected="true" disabled="disabled">Choose type</option>
                  <option value="ORGANIZATION"><b>ORGANIZATION</b></option>
                  <option value="LOCATION"><b>LOCATION</b></option>
                  <option value="PERSON"><b>PERSON</b></option>
                  <option value="OTHERS"><b>OTHERS</b></option>
                </select>
        &nbsp; Comments: <textarea id="recComment" rows="5" cols="20" style="vertical-align:top;"></textarea></p>
        <br><p><button type="button" onclick="addNewEntity()">Add</button></p>
      </div>
    </div>

  </div>

  <!-- submit -->
  <div class="submit">
    <form autocomplete="off" method="POST" action="{{ url_for('submit') }}">
      <input type="hidden" id="tweetsResult" name="tweetsResult" value="">
      <!-- <input type="hidden" id="linksResult" name="linksResult" value=""> -->
      <input type="submit" value="Submit" id="submit" onclick="populateRst()">
    </form>
  </div>

</div>

<!-- view in the right handside to show curent results -->
<div class="entity_view">
	<h3>Entity View</h3>
      <div style="float: left;">
          <p><b>Current entities:</b></p>
          <div id="recRes" class="result"></div>
      </div>

      <div style="float: left;">
          <p><b>Current linkage:</b></p>
          <div id="linkRes" class="result"></div>
      </div>
</div>

<footer>
<p>This project was posted by Jiawei and Jianqiao for a course project at Purdue University taught by Prof. Alex Quinn</p>

<p>Team member:
Jiawei Zhang (<a href="mailto:zhan1486@purdue.edu">zhan1486@purdue.edu</a>)<br>
Jianqiao Liu (<a href="mailto:liu1274@purdue.edu">liu1274@purdue.edu</a>)</p>
</footer>

</body>
</html>