<!DOCTYPE html>
<html>
<head>
<title>Crowdsourcing Twitter NER</title>
  <meta charset="utf-8">
  <link  href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  <link  href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='constant.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  
  <script type="text/javascript">
  	// get a tweet, entity type: org -> organization, psn -> person, loc -> location
  	var tweets = {{ tweets | tojson }};
    var links = {{ links | tojson }};

    // userMode: 0 -> entity recognition; 1 -> entity linking
    var userMode = 0;

    //DOM initialization
  	$(document).ready(function(){

      //initialize event handler
      $('input:radio[name="mode"]').change(function(){
        if ($(this).val() == 'recognize') {
          userMode = 0;
          $('#recView').css('display','block');
          $('#linkView').css('display','none');
        }
        else{
          userMode = 1;
          $('#recView').css('display','none');
          $('#linkView').css('display','block');
        }
      });

      //styling dropdown list;
      (function(){
        var select = document.getElementById('selectType');
        for(var i = 0; i < select.options.length; i++) {
            var c = get_entity_color(select.options[i].value);
            select.options[i].style.color = c;
        }
      })();

      updateVis();

  	});

    function updateVis(){

      //polulate tweets
      var tweets_tagged = tweets.map(function(tweet){
        return styling_tweet_entity(tweet);
      });

      $("#content").html("");
      tweets_tagged.forEach(function(tweet){
        $("#content").append("<p>"+tweet['user']+": "+tweet['text_tagged']+"</p>");
      });

      //populate entities
      var html = "<ul>";

      tweets.forEach(function(tweet){
        var entities = get_tweet_entity(tweet);
        entities.forEach(function(entity){
          html += "<li>" + entity.term + " -> " + "<font color='" + get_entity_color(entity.type) + "'>" + entity.type + "</font></li>";
        });
      });

      html += "</ul>";
      $("#recRes").html(html);

      //populate links
      var html = "<ul>";

      links.forEach(function(link){
        html += "<li>" + link.term1 + " <-> " + link.term2 + "</li>";
      });

      html += "</ul>";
      $("#linkRes").html(html);

    }


    function addNewEntity(){

      var term = $("input[name=newEntity]").val();
      var type = $('#selectType').find(":selected").val();
      var comment = $('textarea#recComment').val();

      if(!term || type == 'Choose type'){
        alert("format invalid!");
        return;
      }

      if(!check_term_exist_in_tweets(tweets, term)){
        alert("entity not exist!");
        return;
      }

      add_entity_in_tweets(tweets, term, type, comment);
      updateVis();

    }

    function addNewLink(){

      var term1 = $("input[name=entity1]").val();
      var term2 = $("input[name=entity2]").val();
      var comment = $('textarea#linkComment').val();

      if(!term1 || !term2){
        alert("format invalid!");
        return;
      }

      if( !check_term_exist_in_tweets(tweets, term1) || !check_term_exist_in_tweets(tweets, term2)){
        alert("entity not exist!");
        return;
      }

      links.push({'term1':term1,'term2':term2,'comment':comment});
      updateVis();
    }

    function populateRst(){
      $("#tweetsResult").val(JSON.stringify({tweets}));
      $("#linksResult").val(JSON.stringify({links}));
    }

  </script>
</head>

<body>

<div>
	<h1 align="center">Crowdsourcing Twitter NER</h1>
</div>

<div class="tweet_view">
	<h3>Tweet View</h3>
	
  <!-- tweet display-->
  <div id="content" class="tweet_content"></div>

  <!-- mode display-->
  <div>
    <input type="radio" name="mode" value="recognize" checked>Recognize entities
    <input type="radio" name="mode" value="link">Link entities
  </div>

  <!-- operation panel display-->
  <div id="recView" class="op_panel" style="display: block;">

    <div style="float: left;">
      <p><b>Current entities:</b></p>
      <div id="recRes" class="result"></div>
    </div>

    <div style="float: left; margin-left: 10px;">
      <p><b>Add new entity:</b></p>
      <div class="addNew">
        <p>Entity: <input type="text" name="newEntity"><br><br></p>
        <p>Type: <select id="selectType">
                  <option selected="true" disabled="disabled">Choose type</option>
                  <option value="org"><b>Organization</b></option>
                  <option value="loc"><b>Location</b></option>
                  <option value="psn"><b>Person</b></option>
                </select>
        </p>
        <p>Comments: <br><textarea id="recComment" rows="5" cols="25"></textarea></p>
        <br><p><button type="button" onclick="addNewEntity()">Add</button></p>
      </div>
    </div>

  </div>

  <div id="linkView" class="op_panel" style="display: none;">

    <div style="float: left;">
      <p><b>Current linkage:</b></p>
      <div id="linkRes" class="result"></div>
    </div>

    <div style="float: left; margin-left: 10px;">
      <p><b>Add new linkage:</b></p>
      <div class="addNew">
        <p>Entity 1: <input type="text" name="entity1"></p>
        <p>Entity 2: <input type="text" name="entity2"></p>
        <p>Comments: <br><textarea id="linkComment" rows="5" cols="25"></textarea></p>
        <br><p><button type="button" onclick="addNewLink()">Add</button></p>
      </div>
    </div>

  </div>

  <!-- submit -->
  <div class="submit">
    <form autocomplete="off" method="POST" action="{{ url_for('submit') }}">
      <input type="hidden" id="tweetsResult" name="tweetsResult" value="">
      <input type="hidden" id="linksResult" name="linksResult" value="">
      <input type="submit" value="Submit" id="submit" onclick="populateRst()">
    </form>
  </div>

</div>

<div class="entity_view">
	<h3>Entity View</h3>
</div>

</body>
</html>